dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

dialog {
	margin: auto;
	border-radius: 10px;
	border: 2px solid #EEC643;
}

#project__form {
	width: 100%;
}

legend,
label {
	color: #A4AEBA;
}

fieldset {
	display: flex;
	flex-direction: column;
	border: none;
}

legend {
	font-size: 1.4rem;
	font-weight: 500;
	padding-bottom: 10px;
}

label {
	font-size: 1.3rem;
}

input[type="text"],
textarea {
	margin-bottom: 10px;
	font-size: 1.2rem;
}

.project__exit {
	align-self: flex-start;
	justify-self: flex-end;
	background: none;
	margin-left: auto;
}

.submit__project {
	background-color: white;
	height: 2.5rem;
	width: 6rem;
}

#description {
	height: 120px;
}

.project__modal__container {
	width: 500px;
	height: 600px;
	background-color: #2E294E;
	display: flex;
	padding: 5px;
}
