dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

dialog {
	margin: auto;
	border-radius: 10px;
	border: 2px solid #EEC643;
}

legend,
label {
	color: #A4AEBA;
}

.project__exit {
	align-self: flex-start;
	justify-self: flex-end;
	background: none;
	margin-left: auto;
}

.project__modal__container {
	width: 500px;
	height: 600px;
	background-color: #2E294E;
	display: flex;
	padding: 5px;
}
